@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

:root {
  font-family: 'Nunito', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* Deep minimalist background base */
  background-color: #0f172a; 
  overflow: hidden; /* Prevent scroll bounce on mobile */
}

/* Hide scrollbar for clean mobile look */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}